.prize {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.claim-btn {
  background-color: var(--color-orange);
  width: 23rem;
  border: 1px solid #000;
  padding: 4px;
  box-shadow: 1px 2px 0 1px #000;
  text-transform: capitalize;
  font-weight: 600;
}
