.prize {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.claim-btn {
  background-color: var(--color-orange);
  width: 13rem;
  border: 1px solid #000;
  padding: 4px;
  box-shadow: 1px 2px 0 1px #000;
  text-transform: capitalize;
  font-weight: 600;
}

.prize .shiny-text-output {
  margin-top: 3rem;
  padding: 2rem;
  color: #fff;
  border: 1px solid #000;
  background: var(--color-deepblue);
  box-shadow: 1px 2px 0 1px #000;
  font-family: monospace;
}
