.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8rem;
  align-items: center;
}

.header .editbutton-icon {
  height: 3.5rem;
  width: 3.5rem;
  border: none;
  cursor: pointer;
}

.header a {
  text-decoration: none;
  position: relative;
  letter-spacing: -0.2em;
  font-weight: 700;
  color: inherit;
  font-size: var(--font-size-29xl);
  font-family: var(--font-lexend-mega);
}