@import url("global.css");

.app {
  display: flex;
  flex-direction: column;
  width: 70vw;
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-public-sans);
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8rem;
  align-items: center;
}

.header .editbutton-icon {
  height: 3.5rem;
  width: 3.5rem;
  border: none;
  cursor: pointer;
}

.header a {
  text-decoration: none;
  position: relative;
  letter-spacing: -0.2em;
  font-weight: 700;
  color: inherit;
  font-size: var(--font-size-29xl);
  font-family: var(--font-lexend-mega);
}

.task-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.task-container .shiny-input-container:not(.shiny-input-container-inline) {
  width: auto !important;
}

.task-container .task-desc input {
  width: auto !important;
  font-size: var(--font-size-base);
  border: none;
  background: none;
}

.task-container .task-desc .form-control {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  color: var(--color-tomato);
  font-weight: 700;
}

.task-container .form-group {
  margin-bottom: 0 !important;
}

.task-container .form-control {
  text-align: center;
}

.task-iters .form-control {
  background: none;
  border: 1px solid #000;
  padding: 8px;
  font-size: inherit;
  box-shadow: 1px 2px 0 1px #000;
}

.task-container span {
  text-align: center;
}